.container_calcolatore {
    overflow: hidden;
    background: #f2f2f2;
    padding: 1.5em;
    margin: 3em;
    font-family: Arial, Helvetica, sans-serif
}

.titolo_calcolatore{
    text-align: center;
    font-style: italic;
    font-size: 2em;
    margin: 0.3em;
}

.container_calcolatore label, .container_calcolatore span{
    display:block;
    padding: 0.3em;
}

.container_calcolatore select, .container_calcolatore input{
    font-size: 0.85em;
    border: 1.5px solid #000;
    width:100%;
    max-width: 350px;
    padding: 0.3em;
}

.container_bottone{
    clear:left;
    float:left;
}

#label_larghezza, #larghezza{
    display: none;
}

.row{
    overflow: hidden;
    padding:0.5em;
    width:100%;
}

.column{
    float: left;
    width: 33%;
}

/*Risultati*/

hr.sep_calc{
    border-top: 2px solid #000;
}

.risultati{
    margin: 1em;
    padding: 1em;    
    text-align: center;
    margin: 0 auto;
}

.risultati img{
    padding: 0.3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 35px; 
    display: block;  
}

.acqua, .sale, .olio, .lievito, .farina{
    text-align: center;
    width: 20%;
    float: left;
}